<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean name="reservation"
		class="com.jeya.spring.springcore.autowired.Reservation" p:id="123"
		p:time="12:30:00">
	</bean>

	<!-- auto wired by the container -->
	<bean name="customer"
		class="com.jeya.spring.springcore.autowired.Customer" p:name="jeya"
		autowire="byType">
	</bean>
	<context:annotation-config></context:annotation-config>
</beans>
